In [1]:
from sklearn import tree
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../processed.csv")
df.dropna(subset=["Initial_Price"],inplace=True)
df

,Initial_Price,Final_Price,Win_Flag,Mac_Flag,Linux_Flag,Positive_Reviews,Negative_Reviews,Memory_MB,Storage_MB,target
0,52.0,52.0,True,True,False,57.0,7.0,1024,50,1
1,0.0,0.0,True,True,False,53.0,6.0,2048,3072,1
2,0.0,0.0,True,False,False,133.0,69.0,2048,100,0
3,530.0,530.0,True,False,False,22.0,9.0,2048,500,0
4,229.0,229.0,True,True,True,226.0,44.0,2048,1500,1
...,...,...,...,...,...,...,...,...,...,...
57467,85.0,85.0,True,False,False,0.0,4.0,4096,200,-1
57468,349.0,349.0,True,True,False,2.0,1.0,1024,1024,1
57469,164.0,164.0,True,False,False,8.0,1.0,4096,20480,1
57470,610.0,610.0,True,False,False,1.0,0.0,4096,3072,1
57471,570.0,285.0,True,False,False,0.0,1.0,1024,2048,-1

In [3]:
y = df["target"]
X = df.drop(labels=["target"],axis=1)


X_train, X_test, y_train, y_test = train_test_split(
         X, y, test_size=0.33, random_state=100,shuffle=True)

In [15]:
dt = tree.DecisionTreeClassifier(criterion="entropy",max_depth=50,max_leaf_nodes=10000)
dt.fit(X_train,y_train)

preds = dt.predict(X_test)
accuracy_score(y_test,preds)

0.8977644205420225

In [16]:
dt.get_n_leaves()

3097

### Conclusion
1. Changing criterion from gini index to entropy didn't increase accuracy much
2. adding  max depth and max leaves also didnt increase